private-key*
.DS_Store
**/.env
**/.env.local
**/.env.*.local
**/node_modules/
**/.venv/
**/__pycache__/
**/*.pyc
**/*.tsbuildinfo
**/dist/
**/.next/
**/.next-dev/
**/logs/
**/test-results/
**/playwright-report/
crawlers-venv/
nhatot-crawler/data/*.csv
mogi-crawler/*.csv
mogi-crawler/website_scraper/*.csv
bun.lockb
.idea/
