$black-color: rgba(0, 0, 0, 1);
$light-grey-color: #f4f4f4;
$dark-grey-color: #484848;

$bg-gradient-color: linear-gradient(
  180deg,
  #ffe6b9 12.06%,
  #fffbf3 67.57%,
  #fff 72.83%
);

$btn-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
  rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

$background-color: hsl(0, 0%, 100%);
$foreground-color: hsl(20, 14.3%, 4.1%);
$card-color: hsl(0, 0%, 100%);
$card-foreground-color: hsl(20, 14.3%, 4.1%);
$popover-color: hsl(0, 0%, 100%);
$popover-foreground-color: hsl(20, 14.3%, 4.1%);
$primary-color: hsl(24.6, 95%, 53.1%);
$primary-foreground-color: hsl(60, 9.1%, 97.8%);
$secondary-color: hsl(60, 4.8%, 95.9%);
$secondary-foreground-color: hsl(24, 9.8%, 10%);
$muted-color: hsl(60, 4.8%, 95.9%);
$muted-foreground-color: hsl(25, 5.3%, 44.7%);
$accent-color: hsl(60, 4.8%, 95.9%);
$accent-foreground-color: hsl(24, 9.8%, 10%);
$destructive-color: hsl(0, 84.2%, 60.2%);
$destructive-foreground-color: hsl(60, 9.1%, 97.8%);
$border-color: hsl(20, 5.9%, 90%);
$input-color: hsl(20, 5.9%, 90%);
$ring-color: hsl(24.6, 95%, 53.1%);
$radius: 0.5rem;
